*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root{
    --Font_size: 14px;
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark_Grey: hsl(0, 0%, 12%);
    --Off_Black: hsl(0, 0%, 8%);
}

img{
    display: block;
    max-width: 100%;
    width: 100px;
    border-radius: 50%;
}

.info{

    font-size: 25px;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.f4{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

div{
    color: var(--White);
}

.location{
    font-size: 15px;
    color: var(--Green);
    font-weight: 600;
}

body{
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    margin-top: 10vh;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
}
section{
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    
}
section>button{
    
    border: 0;
    color: var(--White);
    width: 100%;
    height: 6vh;
    font-size: large;
    border-radius: 10px;
    background-color: #333333;
    box-shadow:0;
}

section>button:hover{
    color:#000;
    background-color: hsl(75, 94%, 57%);
    opacity: 0.5;
}

section>button:active{
    color:var(--Dark_Grey);
    background-color: hsl(75, 94%, 57%);
    opacity: 1;
}

@media screen and (min-width: 480px) and (max-width: 1200px) {

    main{
        width: 432px;
    }
}
@media screen and (min-width: 1200px) {

    main{
        width: 400px;
    }
}